
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght,CRSV@100..900,0&display=swap');

*
{
    margin: 0;padding: 0;
}

body
{
    background-color: #ebd1eb41;
}
.display-centre
{
display: flex;
justify-content: center;
text-align: center;
align-items: center;

}


.header {
  font-family: "Bitcount Prop Single Ink", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 8vh;
  width: 14vw;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}

.parent-header
{
    background-color: #f8d0f84e;
    margin-top: 2vh;
  padding: 8px;
    border: .5px solid ;
    border-radius: 5px;
}

.parent-header:hover
{
    cursor:grab;
    background-color:  #f8d0f8a8;
}

.left_box
{
    height: 80vh;
    width: 25vw;
    border-right: 2px solid rgb(33, 8, 47);
    margin-left: -4vw;
}

.left_box li 
{
    list-style-type: none;
}
.list-cities
{
    margin-top: 15vh;
    margin-left: 2vw;
    border: 2px solid;
    width: 15vw;
    height: 5vh;
    justify-items: center; 
    align-items: center; 
    
    font-size: 4vh;
    margin-right: -2vw;
}

.right_box
{
    margin-left: 4vw;
    column-gap: 2vw;
     height: 80vh;
    overflow: auto;
}


.cities
{
    height: 80vh;
    width: 20vw;
    margin-right: 2VW;
    margin-top: -10vh;
 
}

.cities:hover{
    background-color:  #f8d0f8a8;
    cursor: grab;
    
}

.image img
{
        height: 27vh;
       width: 20vw;

}

.image:hover
{
         
     transition-duration: 1s;
     transition-timing-function: ease-in-out;
}
.Subhead
{
    font-size: 40px;
    font-family: cursive;
    margin-top:3vh;

}
.text
{
    font-size: 20px;
    margin-top: 1vh;
    text-align: justify;
    padding: 20px;
}

.tokyo
{
    margin-bottom:11vh;
}

.nyc
{
    margin-bottom: 10vh;
}

.master
{
    margin-bottom: 10vh;
}






.parent
{
    display: flex;
}